version: "3.9"

services:
  django:
    build: .
    container_name: molenerzi_app
    restart: always
    env_file:
      - .env
    volumes:
      - .:/app
      - ./static:/app/static
      - ./media:/app/media
    ports:
      - "8100:8000"
    command: gunicorn MoLenerzi.wsgi:application --bind 0.0.0.0:8000

volumes:
  static:
  media:
